body {
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: blue;
    height: 80px;
    color: white;
}

.main {
    display: flex;
    justify-content: center;
    background-color: aqua;
    height: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: blue;
    height: 80px;
    color: white;
}