body {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: blue;
    height: 80px;
}

.main {
    background-color: aqua;
    height: 200px;
}

.footer {
    background-color: blue;
    height: 80px;
}